html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.texto {
    margin-top: 90px;
    font-size: 33px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.alinha {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form {
    max-width: 400px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

.form-font {
    margin: 12px;
}

.form-text {
    font-size: 28px;
    color: #ffffff;
}

.form-input {
    width: 125%;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 12px;
}

